#map {
  height: 500px;
  background-color: grey;
}

/* Make a generic sidebar */
/* Styling for an info pane that slides out from the left.
 * Hidden by default. */
#panel {
  height: 100%;
  width: null;
  background-color: white;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  transition: all .2s ease-out;
}

 .open {
  width: 300px;
}

/* Styling for place details */
.hero {
  width: 100%;
  height: auto;
  max-height: 166px;
  display: block;
}

.place,
p {
  font-family: 'open sans', arial, sans-serif;
  padding-left: 18px;
  padding-right: 18px;
}

.details {
  color: darkslategrey;
}

a {
  text-decoration: none;
  color: cadetblue;
}
